*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/

# Django specific
settings_local.py

# Static files
staticfiles/
media/

# Logs
*.log

# Environment variables
.env

# IDE and editor backups
.idea/
.vscode/
*.swp
*.swo
.DS_Store